In [8]:
import graphlab

In [9]:
sales = graphlab.SFrame('kc_house_data.gl/')

In [10]:
sales # 새로운 열을 추가하기 전의 모습

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

##### Convert to Numpy Array

In [12]:
import numpy as np # 행렬을 처리하기 위해 numpy를 불러옴

In [37]:
def get_numpy_data(data_sframe, features, output):
    data_sframe['constant'] = 1 # 새로운 열을 추가하는 부분
    
    features = ['constant'] + features #새로 추가된 열 'constant'를 테이블의 맨 앞으로 이동시키는 부분
   # features_sframe = features
   # features_sframe = data_sframe.to_dataframe()
   # features_sframe = features_into_pandas.to_matrix()  
    
    features_sframe = data_sframe[features] # 막혔던 부분 1
    feature_matrix = features_sframe.to_numpy()
    
    output_sarray = data_sframe[output] # 막혔던 부분 2
    output_array = output_sarray.to_numpy()
    
    print "features_sframe---------------------------"
    print str(feature_matrix)
    print "------------------------------------------"
    
    print str(output_array)
    return(feature_matrix, output_array)

In [38]:
(example_features, example_output) = get_numpy_data(sales, ['sqft_living'], 'price')

features_sframe---------------------------
[[  1.00000000e+00   1.18000000e+03]
 [  1.00000000e+00   2.57000000e+03]
 [  1.00000000e+00   7.70000000e+02]
 ...,
 [  1.00000000e+00   1.02000000e+03]
 [  1.00000000e+00   1.60000000e+03]
 [  1.00000000e+00   1.02000000e+03]]
------------------------------------------
[ 221900.  538000.  180000. ...,  402101.  400000.  325000.]

In [30]:
sales # 새로운 열을 추가한 후의 모습 ; 'constant' 열

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	constant	int

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 22 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [39]:
print example_features[0,:] #첫번째 행, all columns 모든 열을 출력한다.

[  1.00000000e+00   1.18000000e+03]

In [40]:
print example_output[0]

221900.0

##### Predicting output given regression weights

suppose that we have weights = [1.0, 1.0], and we have features = [1.0, 1180.0]
and we want to compute the predicted output 1.0*1.0+1.0*1180.0 = 1181.0
this is dot product of these two arrays.
use np.dot() function.

In [41]:
my_weights = np.array([1.0, 1.0])
my_features = np.array([1.0, 1180.])
predicted_value = np.dot(my_weights, my_features)
print predicted_value

1181.0

it's done. i got the vlaue 1181.0
np.dot() function is also be able to deal with a matrix and a vector.
we must compute the predicted value using feature matrix(LEFT thing) and weights vector(RIGHT thing).

now finish below function.

In [45]:
def predict_output(feature_matrix, weights):
    predictions = np.dot(feature_matrix, weights)    
    return (predictions)

In [46]:
test_predictions = predict_output(example_features, my_weights)
print test_predictions[0]
print test_predictions[1]

1181.0
2571.0

now lets compute the derivative of the regression cost function.
the cost function is the sum over the data points of the squared difference between an observed output and a predicted output.
the derivative of the regression cost function with respect to the weight of ‘feature’ is just twice the dot product between ‘feature’ and ‘errors’.

In [73]:
def feature_derivative(errors, feature):
    derivative2 = np.dot(errors,feature)+np.dot(errors,feature)
        
    return(derivative2)

In [74]:
(example_features, example_output) = get_numpy_data(sales, ['sqft_living'], 'price')
my_weights = np.array([0.,0.])
test_predictions = predict_output(example_features, my_weights)
errors = test_predictions - example_output
feature=example_features[:,0]
derivative = feature_derivative(errors, feature)
print derivative
print -np.sum(example_output)*2

features_sframe---------------------------
[[  1.00000000e+00   1.18000000e+03]
 [  1.00000000e+00   2.57000000e+03]
 [  1.00000000e+00   7.70000000e+02]
 ...,
 [  1.00000000e+00   1.02000000e+03]
 [  1.00000000e+00   1.60000000e+03]
 [  1.00000000e+00   1.02000000e+03]]
------------------------------------------
[ 221900.  538000.  180000. ...,  402101.  400000.  325000.]
-23345850022.0
-23345850022.0

Now we will use our predict_output and feature_derivative to write a gradient descent function. The basic premise is simple. Given a starting point we update the current weights by moving in the negative gradient direction.  the gradient is the direction of increase and therefore the negative gradient is the direction of decrease. The amount is called the 'step size'. We stop when we are 'sufficiently close' to the optimum.  the magnitude (length) of the gradient vector to be smaller than a fixed 'tolerance'.

In [75]:
from math import sqrt

In [85]:
def regression_gradient_descent(feature_matrix, output, initial_weights, step_size, tolerance) :
    converged = False
    weights = np.array(initial_weights)
    while not converged:
        predictions = predict_output(feature_matrix, weights)
        error = predictions - output
        gradient_sum_squares = 0
        
        for i in range(len(weights)):
            value_of_derivative = feature_derivative(error, feature_matrix[:,i])
            squared_value_of_derivative = np.dot(value_of_derivative,value_of_derivative)
            gradient_sum_squares = gradient_sum_squares + squared_value_of_derivative
            weights = weights-step_size*value_of_derivative
            
        gradient_magnitude = sqrt(gradient_sum_squares)
        if gradient_magnitude < tolerance:
            converged = True
            
    return (weights)

##### Running the Gradient Descent as Simple Regression

In [86]:
train_data, test_data = sales.random_split(.8,seed=0)

In [87]:
#test out the GD
simple_features = ['sqft_living']

In [88]:
my_output = 'price'

In [89]:
(simple_feature_matrix, output) = get_numpy_data(train_data, simple_features, my_output)

features_sframe---------------------------
[[  1.00000000e+00   1.18000000e+03]
 [  1.00000000e+00   2.57000000e+03]
 [  1.00000000e+00   7.70000000e+02]
 ...,
 [  1.00000000e+00   1.53000000e+03]
 [  1.00000000e+00   1.60000000e+03]
 [  1.00000000e+00   1.02000000e+03]]
------------------------------------------
[ 221900.  538000.  180000. ...,  360000.  400000.  325000.]

In [90]:
initial_weights = np.array([-47000., 1.])

In [91]:
step_size = 7e-12

In [92]:
tolerance = 2.5e7

In [100]:
result_simple_feature = regression_gradient_descent(simple_feature_matrix, output, initial_weights, step_size, tolerance)
print "w0와 w1을 예측한 것으로 보임" + str(result)
print "simple regression model에서는 w0 = -7731.6858275,   w1 =  263.024303956"
print "w0가 차이가 넘 많이 나는데..."

w0와 w1을 예측한 것으로 보임[-46719.20069418    281.79930582]
simple regression model에서는 w0 = -7731.6858275,   w1 =  263.024303956
w0가 차이가 넘 많이 나는데...

**Quiz Question: What is the value of the weight for sqft_living -- the second element of ‘simple_weights’ (rounded to 1 decimal place)?**

my ans : 281.8

In [101]:
(test_simple_feature_matrix, test_output) = get_numpy_data(test_data,simple_features,my_output)

features_sframe---------------------------
[[  1.00000000e+00   1.43000000e+03]
 [  1.00000000e+00   2.95000000e+03]
 [  1.00000000e+00   1.71000000e+03]
 ...,
 [  1.00000000e+00   2.52000000e+03]
 [  1.00000000e+00   2.31000000e+03]
 [  1.00000000e+00   1.02000000e+03]]
------------------------------------------
[ 310000.  650000.  233000. ...,  610685.  400000.  402101.]

In [103]:
result_test_simple_feature = regression_gradient_descent(test_simple_feature_matrix, test_output, initial_weights, step_size, tolerance)
print str(result)

[-46719.20069418    281.79930582]

In [109]:
predicted_output = predict_output(test_simple_feature_matrix, result_test_simple_feature)
print str(predicted_output)

[ 356893.01996333  785906.93355122  435921.89878215 ...,  664541.15536517
  605269.49625106  241172.16169292]

**Quiz Question: What is the predicted price for the 1st house in the TEST data set for model 1 (round to nearest dollar)?**

356893

In [ ]:
def RSS_regression(predicted_value,)