In [10]:
class Person:
    def __init__(self):
        self.name = 'Kim'

    def __str__(self):
        return self.name
    
p = Person
b = [1,2,3,p,5]
print(b)

[1, 2, 3, <class '__main__.Person'>, 5]

In [11]:
# <class '__main__.Person'>
print(p)

<class '__main__.Person'>

In [12]:
L = [1, ['a', ['x', 'y'], 'b'], 3]
print(L[0])
print(L[1])
print(L[1][1])
print(L[1][1][1])

1
['a', ['x', 'y'], 'b']
['x', 'y']
y

In [13]:
for el in range(10):
    print(type(el), type(range(el)))
    print(el, 'inch=', el * 2.54, 'centi')

<class 'int'> <class 'range'>
0 inch= 0.0 centi
<class 'int'> <class 'range'>
1 inch= 2.54 centi
<class 'int'> <class 'range'>
2 inch= 5.08 centi
<class 'int'> <class 'range'>
3 inch= 7.62 centi
<class 'int'> <class 'range'>
4 inch= 10.16 centi
<class 'int'> <class 'range'>
5 inch= 12.7 centi
<class 'int'> <class 'range'>
6 inch= 15.24 centi
<class 'int'> <class 'range'>
7 inch= 17.78 centi
<class 'int'> <class 'range'>
8 inch= 20.32 centi
<class 'int'> <class 'range'>
9 inch= 22.86 centi

In [14]:
lt = [('one', 1), ('two', 2), ('three', 3)]
for t in lt:
    print(type(t))
    print('name =', t[0] ,', num =', t[1])

<class 'tuple'>
name = one , num = 1
<class 'tuple'>
name = two , num = 2
<class 'tuple'>
name = three , num = 3

In [15]:
lt = [('one', 1), ('two', 2), ('three', 3)]
for name, num in lt:
    print(name, num)

one 1
two 2
three 3

In [16]:
s = [1, 2, 3]

s.append(5) # 리스트 맨 마지막에 정수 값 5 추가
print(s)

s.insert(3, 4) # 3 인덱스 위치에 정수 값 4 추가
print(s)

[1, 2, 3, 5]
[1, 2, 3, 4, 5]

In [17]:
s = [1, 2, 3, 4, 5]

print(s.index(3))        # 값 3의 인덱스 반환

print(s.count(2))        # 값 2의 개수 반환

s = [1, 2, 2, 2, 2, 2, 3, 4, 5]
print(s.count(2))

2
1
5

In [19]:
s = [1, 2, -10, -7, 100]
k = s.reverse() # 자료의 순서를 뒤집기 (반환값 없음)   
print(k)
print(s)

k = s.sort() # 정렬 (반환값 없음)
print(k)
print(s)

k = s.reverse() # 자료의 순서를 뒤집기 (반환값 없음)   
print(k)
print(s)

None
[100, -7, -10, 2, 1]
None
[-10, -7, 1, 2, 100]
None
[100, 2, 1, -7, -10]

In [24]:
s = [10, 20, 30, 20, 40, 50] # 자료 값이 여러개 존재하면 첫번째 것만 삭제
s.extend([60, 70]) # 새로운 리스트([60, 70]를 기존 리스트 s 뒤에 병합
print(s)

s.extend(("l"))
print(s)

s.extend({'il':'one'})
print(s)

[10, 20, 30, 20, 40, 50, 60, 70]
[10, 20, 30, 20, 40, 50, 60, 70, 'l']
[10, 20, 30, 20, 40, 50, 60, 70, 'l', 'il']

In [25]:
s = [10, 20, 30, 40, 50]
print(s.pop(0))   #0 번째 인덱스 값을 꺼낸다.

print(s)

print(s.pop())   
print(s)

10
[20, 30, 40, 50]
50
[20, 30, 40]

In [28]:
L = [('lee', 5, 38), ('kim', 3, 28), ('jung', 10, 36)] # (이름, 재직년도, 나이)

In [39]:
def indicate_key(a):
    return a[2]

L.sort(key=indicate_key)
print(L)

print(L[2])
print(L[2][0])
print(L[2][0][0])
print(L[2][0][0:2])

[('kim', 3, 28), ('jung', 10, 36), ('lee', 5, 38)]
('lee', 5, 38)
lee
l
le

In [31]:
def indicate_key(a):
    return a[1]

L.sort(key=indicate_key) # k +tab
print(L)
# 1번째 인자인 5, 3, 10 의 값을 이용해서 sort를 수행한다.

[('kim', 3, 28), ('lee', 5, 38), ('jung', 10, 36)]

In [32]:
S = ['loh', 'kim', 'jung']

def cmp_by_each_element(a):
    return a[1]

S.sort()
print('sorted by the first character:', S) # 첫번째 문자에 대해 정렬

S.sort(key=cmp_by_each_element)
print('sorted by the second character:', S) # 'o', 'i', 'u'를 이용해서 정렬

sorted by the first character: ['jung', 'kim', 'loh']
sorted by the second character: ['kim', 'loh', 'jung']

In [35]:
class Person:
    def __init__(self, name, exp, age):
        self.name = name
        self.exp = exp
        self.age = age
        
    def __repr__(self):
        return self.name

p1 = Person('kim', 3, 34)
p2 = Person('lee', 5, 50)
p3 = Person('jung', 10, 55)

S = [p1, p2, p3]

# S.sort()
# print(S)
# '<' not supported between instances of 'Person' and 'Person' 
# 크기 비교 연산자를 적용할 수 없다.

def indicate_key_of_person(p):
    return p.name

S.sort(key=indicate_key_of_person)
print(S)

[jung, kim, lee]

In [42]:
L = [1,5,3,4,5,-11]
M = [1,5,3,4,5,-11]

def mycmp(a):
    return a[1]

L1 = sorted(L)
print(L1)
print(L)
print()

L2 = sorted(L, reverse=True)
print(L2)
print(L)
print()
print()

M1 = sorted(M)
print(M1)
print(M)
print()

M2 = sorted(M, reverse=True)
print(M2)
print(M)

[-11, 1, 3, 4, 5, 5]
[1, 5, 3, 4, 5, -11]

[5, 5, 4, 3, 1, -11]
[1, 5, 3, 4, 5, -11]


[-11, 1, 3, 4, 5, 5]
[1, 5, 3, 4, 5, -11]

[5, 5, 4, 3, 1, -11]
[1, 5, 3, 4, 5, -11]

In [43]:
L = []
L = list()
for k in range(10):
    L.append(k*k)
    
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
L = [k*k] # 이를 보고 리스트의 내포라고 한다. list[expressoin] 이 가능한 것.
L = [k*k for k in range(10)]
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
L = [0 for k in range(10)]
print(L)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]